---
layout: default
---

{% for post in paginator.posts %}
<article class="post-item">
    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-link">Previous</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <span class="pagination-link current">{{ page }}</span>
        {% elsif page == 1 %}
            <a href="{{ '/' | relative_url }}" class="pagination-link">{{ page }}</a>
        {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="pagination-link">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-link">Next</a>
    {% endif %}
</div>
{% endif %}