<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% seo %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BWH282SQB9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BWH282SQB9');
    </script>
</head>
<body>
    <header class="masthead">
        <div class="container">
            <h1 class="site-title">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </h1>
            <p class="site-description">{{ site.description }}</p>
        </div>
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }} | <a href="{{ '/about' | relative_url }}">about</a></p>
        </div>
    </footer>
</body>
</html>